<div class="home-main"> 
 	 <a id="menu" href="#sidr">
  	<img alt="Open" class="icon-menu" src="/assets/menu-white.svg" width="24px" /></a>
 
<div id="sidr">
  <ul>
    <li><%= link_to'Home', "/home" %></li>
    <li><%= link_to'About', "/about" %></li>
    <li><%= link_to'Contact', "/contact" %></li>
  </ul>
  <img alt="Close" class="icon-close" src="/assets/close-white.svg" width="24px" /> 

</div>
 	<div class="container">
 	</div> 
 		<div class="row"> 
 			<div class="content col-md-6 col-md-offset-6"> 
 				<h1>Create and share Stories</h1> 
 				<p><a class="btn btn-primary" href="about">Learn more</a></p> 
 			</div> 
 		</div> 
 	</div> 
 </div> 

 <div class="home-supporting"> 
 	<div class="container"> 
 		<h2>Relive and share your adventures</h2>
 		 <p>Stories automatically creates a digital journal filled with only your best photos.</p> 
 		</div>
 		 </div> 

 		 <div class="home-secondary"> 
 		 	<div class="container"> 
 		 	</div>
 		 	 </div> 

 		 	 <div class="home-about"> 
 		 	 <div class="container"> 
 		 	 	<h2>Discover Stories</h2> 
 		 	 	<p>
 		 	 		<a class="btn btn-primary" href="about">Learn more</a>
 		 	 	</p> 
 		 	 </div> 
 		 	</div> 

 		 	<div class="footer"> 
 		 		<div class="container"> 
 		 			<p>A Shutterbugg Project</p> 
 		 		</div>
 		 		 </div> 



<script src="javascripts/jquery.js"></script>
    <script src="javascripts/sidr/jquery.sidr.min.js"></script>


